<footer>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quis eaque provident libero cumque inventore corporis distinctio, exercitationem ducimus assumenda aperiam dolorem vitae hic itaque veritatis qui odit accusamus dicta.
  </p>
</footer>