<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <% titulo %>
  </title>
  <%- include('partials/headcss') %>
</head>

<body>

  <%- include('partials/navegacion') %>

    <div class=" container vh-100 d-flex justify-content-center align-items-center">
      <div class="card bg-dark text-white text-center">
        <div class="card-header">
          <h3>Escribe tu historia</h3>
        </div>
        <div class="card-body text-start">
          <form>

            <div class="mb-3">
              <label for="email">email</label>
              <input type="email" placeholder="email" class="form-control">
            </div>

            <div class="mb-3">
              <label for="mensaje">Mensaje</label>
              <textarea name="mensaje" id="msg" rows="3" class="form-control" placeholder="escribir mensaje"></textarea>
            </div>
            <button class=" btn btn-primary btn-block">Guardar</button>

          </form>
        </div>
      </div>
    </div>
</body>

</html>