<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <% titulo %>
  </title>
  <%- include('partials/headcss') %>
</head>

<body>
  <%- include('partials/navegacion') %>
  
 <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center ">
  <section>
    <h1 class="display-1">Lee Novedades Aqui</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, unde aliquam id est doloribus commodi consectetur et veniam veritatis ipsa officia optio voluptatum enim quo eligendi animi aperiam, quod dolor numquam nihil adipisci obcaecati blanditiis nesciunt culpa! Aut natus ex, facilis rem neque quibusdam, quia perferendis recusandae et hic aperiam autem? Rem, tempore? Voluptas, repellat dolorum culpa corrupti suscipit eligendi, quos dolorem error aliquam id similique, eos laborum. Optio consequatur quis deserunt, suscipit, molestias ex ratione fugit illo labore, accusamus quidem alias minima numquam nesciunt praesentium voluptatibus veritatis? Ipsam quis saepe officia, qui animi earum dignissimos odit ratione ex. Fuga veniam maiores libero sit tempora rem optio labore accusantium amet repudiandae, magni minus quos praesentium laudantium debitis aspernatur earum alias cumque nihil magnam illo iusto! Deserunt aut, molestiae qui laboriosam animi laudantium dignissimos sed labore ducimus, in odit. Quibusdam nostrum atque ratione repudiandae voluptas tempore, omnis aspernatur sed laudantium aperiam perspiciatis eveniet nobis eum labore. Similique corrupti repellendus rerum recusandae itaque quos aut praesentium animi adipisci. Enim necessitatibus quo non adipisci ex consequuntur labore iste voluptatum accusantium praesentium, molestiae amet reiciendis inventore possimus aut mollitia saepe quis qui dicta asperiores atque nostrum corrupti distinctio! Ullam necessitatibus quo perspiciatis illum vero?</p>
  </section>
 </main>


</body>

</html>